<div class="modal fade" id="info-gadget-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content padding-30">
      <div class="modal-header">
        <h5>Informações</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body margin-top-20">
        <table class="table">
          <tbody>
            <tr>
              <td>Card</td>
              <td>Outro algo</td>
            </tr>
            <tr>
              <td>NDS</td>
              <td>Outro algo</td>
            </tr>
            <tr>
              <td>Modelo</td>
              <td>Outro algo</td>
            </tr>
            <tr>
              <td>Estado</td>
              <td>Outro algo</td>
            </tr>
            <tr>
              <td>Criação</td>
              <td>Outro algo</td>
            </tr>
          </tbody>
        </table>

        <div class="margin-top-20">
          <div class="float-left w-50 padding-right-5">
            <button type="button" name="button" class="btn btn-warning btn-block">Baixar</button>
          </div>
          <div class="float-right w-50 padding-left-5">
            <button type="button" name="button" class="btn btn-blue btn-block">Outro algo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
