//*= require trix

@import "bootstrap";
@import "base";
@import "dashboard_cards";
@import "font-awesome";
@import "dataTables.bootstrap4.min";
@import url('https://fonts.googleapis.com/css?family=Oxygen:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:100,300,400,700');

body {font-family: 'Oxygen', sans-serif; font-weight: 100; font-size: 14px; color: #5D616B; background-color: #F5EFE6;}
p, span, h1, h2, h3, h4, h5, h6, address {padding: 0px; margin: 0px;}
h1, h2, h3, h4, h5{font-family: 'Oxygen', sans-serif; color: #273C47; font-weight: bold;}
h1{font-size: 36px; font-weight: bold; line-height: 44px;}
h2{font-size: 28px; line-height: 34px;}
h3{font-size: 22px; line-height: 30px;}
p{font-family: 'Nunito', sans-serif; font-size: 16px; color: #5D616B; line-height: 28px; font-weight: 100;}
label{font-family: 'Nunito', sans-serif; font-size: 13px; color: #5D616B; line-height: 20px; font-weight: 600;}
button{cursor: pointer;}
ul {padding: 0px; margin: 0px;}
textarea{resize: none;}
li { list-style: none; padding: 0px; margin: 0px; }
a{color: #5e98ee; line-height: 25px; font-weight: bold;}
a .fa{color: #5D616B}
a, a:hover, a:focus { text-decoration: none; outline: none;}

.btn {
    padding: 0;
    margin: 3px;
    height: 42px;
    font-size: 16px;
    font-family: 'Oxygen';
    color: #fff;
    font-weight: bold;
    outline: none;
    line-height: 38px;
    border-radius: 6px;
    max-width: 100%;
}

.form-group .input { margin-bottom: 10px; }

.btn-230 { width: 230px; }
.btn-210 { width: 210px; }

.btn.btn-blue{background: #5e98ee;}

.btn.btn-blue:hover{color:#fff; background: #3362A7; transition: 0.3s;}

.btn.btn-blue:active, .btn.btn-blue:focus{background: #2B319E; color:#fff; outline: none;}


.navbar-skynet { background-color: #FBF8F4; border: solid 1px #dee2e6; }
.navbar-skynet a { color: #3c4f57; }
.navbar-skynet .nav-item { margin: 0 20px; font-weight: bold; }
.navbar-text {
  display: inline-block;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #3c4f57;
}

.header-fixed    { overflow-y: auto; height: 50px; }
.header-fixed th { position: sticky; top: 0; }
.table-skynet { table-layout: fixed; }
.table-skynet th, .table-skynet td { padding-left: 20px; word-wrap: break-word; }
.table-skynet tr.border-none td { border: 0; }
.nav-single-show {
  margin: -46px -46px 30px -46px;
}

.card-header.card-skynet {
  padding: 0.5rem 1rem;
  background-color: #f9f4ef;
  font-size: 1.1rem;
}

.container-title {
  margin: -46px -46px 45px -46px;
  padding-bottom: 15px;
  background: #f9f4ef;
  padding: 26px 30px;
  border-radius: 3px 3px 0 0;
  border: solid 1px #dee2e6;
}

.container-skynet {
  padding: 45px;
  border-radius: 3px;
  background-color: #fff;
  margin: 30px auto;
  border: solid 1px #dee2e6;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

td .action-icon:not(:first-child) { padding-left: 15px; }

table.table-striped tbody tr:nth-of-type(odd) { background-color: #FBF8F4; }

.table-skynet-show tbody tr td:first-child, .table-skynet-show thead tr th:first-child {
  width: 40% !important;
}

.table-skynet-show tbody tr td:nth-child(2), .table-skynet-show thead tr th:nth-child(2) {
  width: 30% !important;
}

.table-skynet-show tbody tr td:nth-child(3), .table-skynet-show thead tr th:nth-child(3) {
  width: 30% !important;
}

table.table-skynet tr td a.action-icon { pointer-events:none; color: #ddd; }
table.table-skynet tr td a.action-icon .fa { color: #ddd; }
table.table-skynet tr:hover td a.action-icon .fa { color: #5e98ee; }
table.table-skynet tr:hover td a.action-icon { pointer-events:auto; color: #5e98ee; }

.form-horizontal { div.checkbox.inline { .control-label { text-align: left; } } }

/* tasks list styles*/
.striker {
  text-decoration: line-through;
}

/* btn crcle on customers index style*/
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle-avatar {
  width: 30px;
  height: 30px;
  padding: 3px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
  line-height: 1.42857;
}

.btn-rel {
  position: absolute;
  top: 5px;
}

/* avatar circle on customers index styles*/
.btn-purple {
   height: 35px;
   width: 35px;
   text-align: center;
   border-radius: 50%;
   background-color: #e5d9c2;
}

.btn-purple a{
  font-weight: bold;
  color: #5D616B;
}

/* pagination styles*/

.page-item.active .page-link{
  background-color: #856EC6;
  border-color: #856EC6;
}

/* login styles*/

.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #FBF8F4;
  border: 1px dotted rgba(0,0,0,0.1);
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
