<tr>
  <td><%= field_title %></td>
  <td><%= best_in_place record, field_name, :as => :input, activator: "##{field_name}_activator", inner_class: type %></td>
  <td>
    <%= link_to "#", id: "#{field_name}_activator", class: 'action-icon' do %>
      <%=  fa_icon 'pencil' %> Editar
    <% end %>
  </td>
</tr>
