<div class="container-fluid">
  <nav class="navbar navbar-skynet navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand padding-left-20 padding-right-20" href="/">Skynet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse padding-left-90 padding-left-sm-0" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="/gadgets">Equipamentos</a></li>
        <li class="nav-item"><a href="/customers">Usuários</a></li>
        <li class="nav-item"><a href="/packages">Assinaturas</a></li>
      </ul>
    </div>
</div>
