<nav class="navbar navbar-skynet navbar-expand-sm navbar-light flex-nowrap">
  <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbar_header">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand"><a class="nav-link" href="/"><%=  fa_icon 'home' %> Skynet</a></span>
  <div class="navbar-collapse collapse w-100 justify-content-center" id="navbar_header">
  <% if user_signed_in? %>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item"><a class="nav-link" href="/customers">Clientes</a></li>
      <li class="nav-item"><a class="nav-link" href="/gadgets">Equipamentos</a></li>
      <li><%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "nav-link"  %></li>
      <li><%= current_user.email %></li>
    </ul>
  <% end %>
  </div>
  <div class="w-100"><!--spacer--></div>
</nav>
