<nav class="navbar navbar-skynet navbar-expand-sm navbar-light flex-nowrap">
  <div class="container">
    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbar_header">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand"><a class="nav-link" href="/"><%=  fa_icon 'home' %> Skynet</a></span>
  </div>
</nav>
